# Gmail SMTP
GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_app_password_here
BUSINESS_EMAIL=your_email@gmail.com

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Social links
NEXT_PUBLIC_LINE_URL=https://lin.ee/xxxxx
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/xxxxx
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/xxxxx
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/xxxxx
NEXT_PUBLIC_MESSENGER_URL=https://m.me/xxxxx
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/xxxxx
